@font-face {
  font-family: ubuntu;
  src: url(../font/ubuntu-reg.ttf);
}

@font-face {
  font-family: ubuntu-mono;
  src: url(../font/ubuntu-mono-reg.ttf);
}

@font-face {
  font-family: source-code-pro;
  src: url(../font/SourceCodePro-Regular.ttf);
}

@font-face {
  font-family: inconsolata;
  src: url(../font/Inconsolata-Regular.ttf);
}

* {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

body {
  font-family: ubuntu;
  background-color: #D1D1D1;
}

.main-body {
  float: none !important;
  margin: 0 auto !important;
  float: none !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.navbar {
  overflow: visible;
  background-image: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.navbar-custom {
  background-color: #333333;
}

.navbar-brand {
  color: #F3F3F3 !important;
}

.navbar-brand:hover {
  color: #969696 !important;
}

.btn-group {
  position: absolute;
  padding-top: 7px;
  padding-right: 7px;
}

.btn {
  background-color: #F3F3F3;
  right: 7px;
  border: 1px solid #333333;
}

.btn:hover {
  background-color: #969696 !important;
}

#modeButton {
  background-color: #F3F3F3;
}

.modal-label {
  text-align: center;
}

.dropdown-menu {
  white-space: normal;
}

.dropdown-menu a:hover {
  color: #969696 !important;
}

.dropdown-selected {
  background-color: #272822 !important;
}

.dropdown-selected a {
  color: #F8F8F2 !important;
}

.btn-primary {
  background-color: #5F8199;
}

.btn-primary:hover {
  background-color: #7BA6C4;
}

.text-mode {
  width: 80%;
  resize: none;
  color: #F8F8F2;
  background-color: #272822;
  border-width: 3px;
  border-color: #3E3D32;
  border-style: solid;
}

#text-wrapper {
  margin: 0 auto !important;
}

.text-mode-ul {
  font-family: ubuntu-mono;
  font-size: 15;
}

.text-mode-ul li {
  list-style: none;
}

#text-mode-backlog {
  height: calc(80% - 70px);
}

#text-mode-input {
}

.login-body {
  margin-left: 20px;
}
